/* {
    outline: 1px solid orange;
} */
body {
    width: 1280px;
    margin: 0 auto;
    padding: 10px 0px;
    background-color: #222;
    font-family: "Verdana", sans-serif;
    color: #D4D4D4;
    font-size: 14px;
}
header {
    margin: 00px;
    margin-bottom: 10px;
    padding: 0px, 80px;
    background-color: #222;
}
nav {
    padding: 33px 80px 0px;
    margin-bottom: 16px;
}
header,
main,
footer,
div {
    margin: 0px;
}

footer {
    background-color: #131313;
    padding: 0px 160px;
}
header ul {
    display: inline-block;
    list-style: none;
    padding: 2px;
    vertical-align: top;
    max-width: 700px;
}
header li {
    display: inline;
    margin-right: 33px;
}    
h1 {
    font-family: "Courier New", "Courier", serif;
    color: #fff;
    font-size: 45px;    
}
h2 {
    font-family: "Courier New", serif;
    color: #222;
    font-size: 24px;
    margin: 0px;
    margin-bottom: 30px;
    padding: 0px;
}
a{
    color: #d4d4d4;
    text-decoration: none;
}

.logo_img{
    width: 60px;
    padding: 0px;
    margin-right: 60px;
}
.icon {
    float: right;
}
button{
	width: 240px;
    height: 60px;
	background-color: #ffcb06;
	border-radius: 25px;
	font-weight: bold;
	border: 0px;
	text-align: left;
	padding: 0px 27px;
}
button:hover{
	background-color: #ffcb06;
	border: 2px solid #222;
}
button:active{
	border: 4px solid #222;
	background-color: darkorange;
}
button img{
	float: right;
}
.first_screen {
    margin: 0px;
    padding: 0px 80px 100px;
    display: flex;
    justify-content: space-between;
}
.block_heading {
    width: 245px;
    margin: 0px;
    padding: 70px 70px 70px 125px;
}

.advantages {
    display: flex;
    margin: 0px;
    padding: 40px 160px 35px;
    background-color: #131313;
    justify-content: space-between;
}
.advantages_element {
    width: 180px;
    padding: 45px 0px;
}
.content {
    background-color: #ffffff;
    color: #222;
    padding: 60px 160px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.element {
   width: 440px; 
}
.element p {
    margin-top: 35px;
}
.recomendation {
    display: flex;
    justify-content: space-between;
    color: #131313;
}
.content li {
	margin-left: 25px;
	margin-bottom: 30px;
	position: relative;
}
.recomendation li::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	left:-20px; 
    top:19px;
	background-color: #feca30;
	border-radius: 50%
}
.recomendation ul {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}
.recomendation li {
    padding: 15px 0px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}
.copyr {
    display: flex;
    justify-content: space-around;
    color: #555;
    flex-direction: column;
    padding: 25px 0px;
}
.footer_logo {
   display: flex;
   color: #d4d4d4;
   align-items: center;
 }
.footer_logo p{
    margin: 0px;
}
.footer_menu,
.footer_submenu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-top: 30px;
    font-weight: bold;
    line-height: 40px;
}

.footer_submenu {
    width: 180px;
    line-height: 2.5;
    text-transform: none;
    margin: 45px 0px;
}
.line {
	position: relative;
}
.line::before {
  content: '';
  position: absolute;
  width: 180px;
  background-color: gray;
  height: 3px;
  top: 30px;
  right: -0px
}










    
    
    
    


